    ViewData["Title"] = "Home Page";
}


<div class="container" style="padding-top: 140px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-search">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="unit-form-link">Unit No.</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="item-form-link">Item no.</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="unit-form" method="get" role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" id="unit-input" class="form-control" placeholder="Search by Unit no...">
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="search" id="search-unit" class="form-control btn btn-unit" value="Search">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="item-form" method="get" role="form" style="display: none;">
                                <div class="form-group">
                                    <input type="text" id="item-input" class="form-control" placeholder="Search by Item no...">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" id="search-item" class="form-control btn btn-item" value="Search" onclick="return false">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="containter" style="        padding-top: 35px">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="list-group" id="resultsHeader">Results</div>
            <ul class="items">
            </ul>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

